{% extends 'base.html' %}
{% block content %}
    <br><br><br><br><br>  
      <div class="container">
        <form action="{% url 'monitoring_isp:monitorig_isp' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Обновить данные</button>
        </form>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>№ C/У МС</th>
              <th>Направлено листов</th>
              <th>Возбуждено дел</th>
              <th>Дата мониторинга</th>
            </tr>
          </thead>
          <tbody>
            {% for uch in page_obj %}
              <tr>
                <td>{{ uch.nomeruch }}</td>
                <td>{{ uch.receiveddoc }}</td>
                <td>{{ uch.opencase }}</td>
                <td>{{ uch.monitoringdata|date:"d E Y" }}</td>
              </tr>        
            {% endfor %}
          </tbody>
        </table>
      </table>
      <br><br><br><br><br>
      <br><br><br><br><br>
      <br><br><br><br><br>
      <br><br><br><br><br>
      <br><br> 
    </div>
    

{% endblock %}